    <!-- Forgot password  -->

     <div class="flex-item">

       <form ng-submit="updatePassword()" >

               <label>New Password</label>
               <input type="password"  ng-model="password" required>


             <button  ng-disabled="loading" type="submit" class="button-primary" style="padding:10px 10px">


               <span ng-hide="loading">Update</span>
               <span ng-show="loading">Loading....</span></button>

         </form>

           <a href="/#/login">Login </a>

       </div>
