
<div class="form-field-container" style="height:100%" ng-if="isAuthenticated()">

     <p>Thanks for cloning and using Flask-Scaffold. If you found it useful, don't forget to  Star it on Github. </p>

     <a class="github-button" href="https://github.com/Leo-G/Flask-Scaffold" data-style="mega" data-count-href="/Leo-G/Flask-Scaffold/stargazers" data-count-api="/repos/Leo-G/Flask-Scaffold#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Leo-G/Flask-Scaffold on GitHub">Star</a>

     <p>
     For a List of articles that will help you develop this web application see the Devops Wiki on the link below </p>

     <!-- Place this tag where you want the button to render. -->
     <a class="github-button" href="https://github.com/Leo-G/DevopsWiki" data-style="mega" data-count-href="/Leo-G/DevopsWiki/stargazers" data-count-api="/repos/Leo-G/DevopsWiki#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Leo-G/DevopsWiki on GitHub">Devops Wiki</a>

     <br>

     <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
     <a class="twitter-follow-button"
     href="https://twitter.com/CaptainDevops"
     data-size="large"><button class="button-primary">Follow @CaptainDevops </button> </a>



</div>
