<!DOCTYPE html>
  <html data-ng-app="myApp" lang="en">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="$state.current.title + ' | Flask-Scaffold'"> </title>

  <!-- CSS  末末末末末末末末末末末末末末末末末末末末末末末末末 -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/dashboard.css" rel="stylesheet">
  <link href="static/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/node_modules/angular-datatables/dist/css/angular-datatables.min.css" rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.css" rel="stylesheet" />

   <!-- JS 末末末末末末末末末末末末末末末末末末末末末末末末末 -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="static/node_modules/angular/angular.min.js"></script>
    <script src="static/node_modules/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
     <script src="static/node_modules/angular-datatables/dist/angular-datatables.min.js"></script>


    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
                        <!-- Controllers -->
    <script type="text/javascript" src="users/controllers.js"></script>
    <script type="text/javascript" src="roles/controllers.js"></script>
    <script type="text/javascript" src="users/controllers.js"></script>
   <script type="text/javascript" src="static/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
     <script type="text/javascript" src="static/node_modules/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="static/node_modules/angularjs-toaster/toaster.min.js"></script>
    <script type="text/javascript" src="static/node_modules/satellizer/dist/satellizer.min.js"></script>
    <script type="text/javascript" src="static/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="static/node_modules/angular-google-analytics/dist/angular-google-analytics.js"></script>

  </head>
<body  ng-controller="LogoutCtrl" >
  <toaster-container></toaster-container>

  <nav class="navbar navbar-inverse navbar-fixed-top" ng-if="isAuthenticated()">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://github.com/Leo-G/Flask-Scaffold" target="_blank">Flask Scaffold</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>  <a class="nav-item nav-link" href="#" ng-click="logout()"> Logout</a></li>
          <li> <a class="nav-item nav-link" href="https://techarena51.com/blog/tag/flask-tutorials/?utm_source=gh-flask-scaffold-home"
                 target="_blank">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar" ng-if="isAuthenticated()">
        <ul class="nav nav-sidebar">
          <li class="active"><a ui-sref="home">Home <span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="roles.list">Roles</a></li>
          <li><a ui-sref="users.list">Users</a></li>
                          <!-- menu -->


        </ul>


      </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"  ui-view>


            </div>
            </div>
          </div>


  <!--  <footer ng-if="isAuthenticated()">copyright  <a href="http://techarena51.com">  Techarena51.com </a></footer> -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>
