{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="en"{% endblock %}
{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='sb-admin.css') }}" rel="stylesheet">
{% endblock%}
{% block title %}doxbox{% endblock %}
{% block body %}
{% block navbar %}
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="{{ url_for('index') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ url_for('dox') }}"><i class="fa fa-fw fa-file-text"></i> Dox</a></li>
            <li><a href="{{ url_for('geoip') }}"><i class="fa fa-fw fa-location-arrow"></i> GeoIP</a></li>
            <li><a href="{{ url_for('dns') }}"><i class="fa fa-fw fa-wrench"></i> DNS Enum</a></li>
          </ul>
        </div>
    </nav>
  {% endblock %}
  <div id="page-wrapper">
	<div class="container-fluid">
	  <br><br>
      <h1 class="page-heading"> {{ title }} <small>{{ small }}</small></h1>
      <hr />
      <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% if request.path != "/index" %}
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question-circle fa-fw"></i>About</h3>
            </div>
            <div class="panel-body">
              <p>{{ description }}</p>
             </div>
          </div>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
  {% block scripts %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{{ url_for('static', filename='doxkit.js') }}"></script>
    <script src="https://use.fontawesome.com/8192e56a39.js"></script>
    {{super()}}
  {% endblock %}
{% endblock %}
