<a class="btn btn-default pull-right btn-primary" ui-sref="users.new" role="button" ng-if="isAuthenticated()">New</a>

<table datatable="ng" dt-options="dtOptions" class="table table-bordered" ng-if="isAuthenticated()">


       <thead>
                         <th>ID</th> 
                         <th>Email</th>                       
                         <th>Name</th>
                         <th>Active</th>
                         <th>Creation_Time</th>
                         <th>Role</th>
          <th>Actions</th>


        </thead>
        <tbody>
        <tr ng-repeat=" user in users">
                         <td>{{ user.id }}</td> 
                         <td>{{ user.email }}</td>                        
                         <td>{{ user.name }}</td>
                         <td>{{ user.active }}</td>
                         <td>{{ user.creation_time }}</td>
                         <td>{{ user.role }}</td>
            <td><a ui-sref="users.edit({id:user.id })" class="btn btn-default btn-warning" role="button"  id="editButton"><i class="fa fa-edit"></i></a>
            <button class="btn btn-default btn-danger" ng-click="deleteUser(user.id)" id="deleteButton"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>

</table>
